@page "/"

<h3>Movies</h3>

<div>
    <MoviesList Movies = "movies"/>
</div>

@code {
     List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        movies = new List<Movie>()
     {
        new Movie(){Title = "TaxiDriver",  ReleaseDate = new DateTime(1991, 2, 6) },
        new Movie(){Title = "Mulan",  ReleaseDate = new DateTime(2006, 10, 19) },
        new Movie(){Title = "Baby Driver",  ReleaseDate = new DateTime(2016, 1, 23) }
     };
    }

}
